Src/Business/CatWorkbookPrismPoc.Business/Service References/CatWorkbookPrisimPoc.Business/CatWorkbookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CatWorkbookService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/CatWorkbookPrismPoc.WebServiceHost/CatWorkbookService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/CatWorkbookPrismPoc.WebServiceHost/CatWorkbookService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CatWorkbookPrismPoc.Services.Contracts.Faults" />
      <xsd:import schemaLocation="http://localhost/CatWorkbookPrismPoc.WebServiceHost/CatWorkbookService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/CatWorkbookPrismPoc.WebServiceHost/CatWorkbookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatWorkbookPrismPoc.Services.Contracts.Data" />
      <xsd:import schemaLocation="http://localhost/CatWorkbookPrismPoc.WebServiceHost/CatWorkbookService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICatWorkbookService_GetProgramById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramById" />
  </wsdl:message>
  <wsdl:message name="ICatWorkbookService_GetProgramById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICatWorkbookService_GetProgramById_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CatWorkbookPrismPoc.Services.Contracts.Faults" name="detail" element="q1:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ICatWorkbookService_GetUnderwriters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnderwriters" />
  </wsdl:message>
  <wsdl:message name="ICatWorkbookService_GetUnderwriters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnderwritersResponse" />
  </wsdl:message>
  <wsdl:message name="ICatWorkbookService_GetUnderwriters_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CatWorkbookPrismPoc.Services.Contracts.Faults" name="detail" element="q2:ServiceException" />
  </wsdl:message>
  <wsdl:message name="ICatWorkbookService_GetEffectiveYears_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEffectiveYears" />
  </wsdl:message>
  <wsdl:message name="ICatWorkbookService_GetEffectiveYears_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEffectiveYearsResponse" />
  </wsdl:message>
  <wsdl:message name="ICatWorkbookService_GetEffectiveYears_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/CatWorkbookPrismPoc.Services.Contracts.Faults" name="detail" element="q3:ServiceException" />
  </wsdl:message>
  <wsdl:portType name="ICatWorkbookService">
    <wsdl:operation name="GetProgramById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatWorkbookService/GetProgramById" message="tns:ICatWorkbookService_GetProgramById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatWorkbookService/GetProgramByIdResponse" message="tns:ICatWorkbookService_GetProgramById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICatWorkbookService/GetProgramByIdServiceExceptionFault" name="ServiceExceptionFault" message="tns:ICatWorkbookService_GetProgramById_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnderwriters">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatWorkbookService/GetUnderwriters" message="tns:ICatWorkbookService_GetUnderwriters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatWorkbookService/GetUnderwritersResponse" message="tns:ICatWorkbookService_GetUnderwriters_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICatWorkbookService/GetUnderwritersServiceExceptionFault" name="ServiceExceptionFault" message="tns:ICatWorkbookService_GetUnderwriters_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEffectiveYears">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatWorkbookService/GetEffectiveYears" message="tns:ICatWorkbookService_GetEffectiveYears_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatWorkbookService/GetEffectiveYearsResponse" message="tns:ICatWorkbookService_GetEffectiveYears_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICatWorkbookService/GetEffectiveYearsServiceExceptionFault" name="ServiceExceptionFault" message="tns:ICatWorkbookService_GetEffectiveYears_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CatWorkbookService" type="tns:ICatWorkbookService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProgramById">
      <soap:operation soapAction="http://tempuri.org/ICatWorkbookService/GetProgramById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUnderwriters">
      <soap:operation soapAction="http://tempuri.org/ICatWorkbookService/GetUnderwriters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEffectiveYears">
      <soap:operation soapAction="http://tempuri.org/ICatWorkbookService/GetEffectiveYears" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatWorkbookService">
    <wsdl:port name="CatWorkbookService" binding="tns:CatWorkbookService">
      <soap:address location="http://localhost/CatWorkbookPrismPoc.WebServiceHost/CatWorkbookService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>