Src/Business/CatWorkbookPrismPoc.Business/Service References/CatWorkbookPrisimPoc.Business/CatWorkbookService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CatWorkbookPrismPoc.WebServiceHost/CatWorkbookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatWorkbookPrismPoc.Services.Contracts.Data" />
  <xs:element name="GetProgramById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CatWorkbookPrismPoc.Services.Contracts.Data" minOccurs="0" name="GetProgramByIdResult" nillable="true" type="q1:Program" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>