Src/Business/CatWorkbookPrismPoc.Business/Service References/CatWorkbookPrisimPoc.Business/CatWorkbookService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CatWorkbookPrismPoc.Services.Contracts.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CatWorkbookPrismPoc.Services.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Program">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorizedExpiringStructureID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AuthorizedStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoundStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpiringProgramID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MasterNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProgramID" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuoteExpiringStructureID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="QuoteStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuoteStructureID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TeamID" type="xs:int" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnderwriterID" type="xs:int" />
      <xs:element minOccurs="0" name="UnderwriterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Program" nillable="true" type="tns:Program" />
</xs:schema>